TechnoWeb/TP2/src/dtd/bibliographie.dtd

<!ELEMENT bibliographie (publication*)>
  <!ELEMENT publication (titre, auteurs+, pages+, annee)>
    <!ATTLIST publication type (article|conference) #REQUIRED>
    <!ELEMENT titre (#PCDATA)>
    <!ELEMENT auteurs (auteur+)>
      <!ELEMENT auteur (#PCDATA)>
    <!ELEMENT pages (#PCDATA)>
    <!ELEMENT annee (#PCDATA)>
